.carDetailsBlock {
  max-height: 1296px;
  padding-top: 84px;
  padding-bottom: 104px;
  display: flex;
  justify-content: space-between;
}
.carDetailsImg {
  border-radius: 19px;
  margin-bottom: 43px;
}
.carDetailsBlockDetails {
  max-width: 488px;
  display: flex;
  flex-direction: column;
}
.carDetailsBlockDetailsTitle {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  text-align: center;
  color: #101828;
  padding-top: 20px;
  margin-bottom: 8px;
  text-align: start;
}
.carDetailsBlockDetailsId {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #8d929a;
  padding-left: 16px;
}
.carDetailsBlockDetailsAddress {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.locationIcon {
  fill: #101828;
}
.carDetailsBlockDetailsPrice {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: #3470ff;
  margin-bottom: 32px;
}
.carDetailsBlockDetailsText {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
  margin-bottom: 68px;
}
.carDetailsBlockDetailsListRent {
  margin-bottom: 94px;
}
.carDetailsBlockDetailsListRentTitel {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  margin-bottom: 20px;
}
.carDetailsBlockDetailsListRentItem {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 16px;
}

