.Form {
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 32px;
  min-width: 640px;
  max-height: 488px;
  bottom: -20%;
  left: 0%;
  display: flex;
  flex-direction: column;
}
.blockFormTitel {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  margin-bottom: 8px;
}
.blockFormText {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #8d929a;
  margin-bottom: 24px;
}
.blockFormLabel {
  width: 100%;
}
.blockFormInput {
  border-radius: 12px;
  padding: 12px 20px;
  min-width: 576px;
  max-height: 48px;
  background: #f7f7f7;
  margin-bottom: 16px;
  border: none;
  outline: none;
  width: 100%;
}
.blockFormInputTextarea {
  border-radius: 12px;
  padding: 12px 20px 56px;
  min-width: 576px;
  max-height: 88px;
  margin-bottom: 24px;
  background: #f7f7f7;
  border: none;
  outline: none;
  width: 100%;
  resize: none;
  font-family: inherit;
}
.blockFormBtn {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  border-radius: 12px;
  padding: 12px 51px;
  max-width: 156px;
  max-height: 44px;
  background: #3470ff;
  margin: 0 auto;
  cursor: pointer;
  border: none;
}
