.hero {
  max-width: 1440px;
  min-height: 700px;
  background-image: url("../../public/PictureCar.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 436px;
  padding-right: 0;
  padding-bottom: 60px;
  padding-left: 0;
}
.heroTitle {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  margin-bottom: 16px;
}
.heroText {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}
.heroButton {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  border-radius: 12px;
  padding: 12px 99px;
  min-width: 276px;
  background: #3470ff;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  &:focus {
    background: #0b44cd;
  }

  &:hover {
    background: #0b44cd;
  }
}
