:root {
  --font-family: "Manrope", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: white;
  font-family: "Manrope", sans-serif;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
}

Link,
a {
  text-decoration: none;
}

p {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
}

ul,
li {
  list-style: none;
  margin: 0;
}
.container {
  max-width: 1440px;
  padding: 0 120px;
}
