.label {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: #8d929a;
}

.blockquote {
  border-radius: 12px;
  padding: 12px 16px;
  max-width: 204px;
  height: 44px;
  background: #ffffff;
  font-size: 12px;
  font-style: normal;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
  margin-bottom: 20px;
}
